@use 'variables' as *;
@use 'mixins' as *;
@use 'sass:map';
@use './vanillajs-rangepicker';

.cat-rangepicker {
  display: flex;

  & cat-input {
    flex: 1 1 0px;

    &::part(input-wrapper):focus-within {
      z-index: 1;
    }

    &.cat-rangepicker-end {
      margin-left: -1px;

      &::part(input-wrapper) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &.cat-rangepicker-start {
      &::part(input-wrapper) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}
